<h1>FreeCodeCamp API Project: Request Header Parser</h1>
<p>Access the API at /api/v1/saywho</p>
<p>JSON is returned with information about the user.</p>

<h3>Example URL: </h3>

<span class="code">
  
</span>

<h3>Example Output:</h3>
<span class="code">
  {"ipaddress":"10.10.130.233","language":"en-us","software":"Macintosh; Intel Mac OS X 10_10_5"}
</span>

<p>This is a Rails 4 project. Feel free to visit the <a href='https://github.com/yuzu-r/fcc_request' target='_blank'>github repo</a>.</p>
<p>Learn more about <a href='https://www.freecodecamp.com' target='_blank'>FreeCodeCamp</a>.</p>